cgdisk.8 filter=lfs diff=lfs merge=lfs -text
diskio.cc filter=lfs diff=lfs merge=lfs -text
diskio-unix.cc filter=lfs diff=lfs merge=lfs -text
fuzzer filter=lfs diff=lfs merge=lfs -text
guid.h filter=lfs diff=lfs merge=lfs -text
Makefile filter=lfs diff=lfs merge=lfs -text
README.Windows filter=lfs diff=lfs merge=lfs -text
crc32.h filter=lfs diff=lfs merge=lfs -text
gptpart.h filter=lfs diff=lfs merge=lfs -text
Makefile.mac filter=lfs diff=lfs merge=lfs -text
gdisk.cc filter=lfs diff=lfs merge=lfs -text
gptcl.h filter=lfs diff=lfs merge=lfs -text
guid.cc filter=lfs diff=lfs merge=lfs -text
mbr.cc filter=lfs diff=lfs merge=lfs -text
NEWS filter=lfs diff=lfs merge=lfs -text
sgdisk.cc filter=lfs diff=lfs merge=lfs -text
Makefile.mingw64 filter=lfs diff=lfs merge=lfs -text
Android.bp filter=lfs diff=lfs merge=lfs -text
gptcurses.cc filter=lfs diff=lfs merge=lfs -text
gptcurses.h filter=lfs diff=lfs merge=lfs -text
parttypes.cc filter=lfs diff=lfs merge=lfs -text
bsd.cc filter=lfs diff=lfs merge=lfs -text
gptpart.cc filter=lfs diff=lfs merge=lfs -text
android_popt.cc filter=lfs diff=lfs merge=lfs -text
diskio-windows.cc filter=lfs diff=lfs merge=lfs -text
gpt.cc filter=lfs diff=lfs merge=lfs -text
basicmbr.h filter=lfs diff=lfs merge=lfs -text
COPYING filter=lfs diff=lfs merge=lfs -text
diskio.h filter=lfs diff=lfs merge=lfs -text
uninstall-fixparts filter=lfs diff=lfs merge=lfs -text
basicmbr.cc filter=lfs diff=lfs merge=lfs -text
Makefile.mingw filter=lfs diff=lfs merge=lfs -text
popt.h filter=lfs diff=lfs merge=lfs -text
README filter=lfs diff=lfs merge=lfs -text
README-efi.txt filter=lfs diff=lfs merge=lfs -text
attributes.cc filter=lfs diff=lfs merge=lfs -text
fixparts.cc filter=lfs diff=lfs merge=lfs -text
LICENSE filter=lfs diff=lfs merge=lfs -text
gpttext.h filter=lfs diff=lfs merge=lfs -text
METADATA filter=lfs diff=lfs merge=lfs -text
uninstall-gdisk filter=lfs diff=lfs merge=lfs -text
cgdisk.cc filter=lfs diff=lfs merge=lfs -text
gpttext.cc filter=lfs diff=lfs merge=lfs -text
crc32.cc filter=lfs diff=lfs merge=lfs -text
current.spec filter=lfs diff=lfs merge=lfs -text
gptcl.cc filter=lfs diff=lfs merge=lfs -text
mbrpart.h filter=lfs diff=lfs merge=lfs -text
MODULE_LICENSE_GPL filter=lfs diff=lfs merge=lfs -text
sgdisk.8 filter=lfs diff=lfs merge=lfs -text
attributes.h filter=lfs diff=lfs merge=lfs -text
support.cc filter=lfs diff=lfs merge=lfs -text
diskio-heap.cc filter=lfs diff=lfs merge=lfs -text
gdisk_test.sh filter=lfs diff=lfs merge=lfs -text
gpt.h filter=lfs diff=lfs merge=lfs -text
Makefile.freebsd filter=lfs diff=lfs merge=lfs -text
mbr.h filter=lfs diff=lfs merge=lfs -text
parttypes.h filter=lfs diff=lfs merge=lfs -text
bsd.h filter=lfs diff=lfs merge=lfs -text
fixparts.8 filter=lfs diff=lfs merge=lfs -text
gdisk.8 filter=lfs diff=lfs merge=lfs -text
mbrpart.cc filter=lfs diff=lfs merge=lfs -text
OWNERS filter=lfs diff=lfs merge=lfs -text
support.h filter=lfs diff=lfs merge=lfs -text
